# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.env

# Node / JS
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
out/
build/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
.gemini/
